In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
fixtures = pd.read_json('C://Users//PHAVVAZ//Documents//MyProject//Programming//la_Predire//data/fixtures.json')

In [3]:
fixtures.head()

       Competion            Home       Away  Home_score  Away_score     Season
0  SpanishLaLiga  AthleticBilbao  Barcelona           3           1  2005-2006
1  SpanishLaLiga       Barcelona    Arsenal           2           1  2005-2006
2  SpanishLaLiga         Sevilla  Barcelona           3           2  2005-2006
3  SpanishLaLiga       Barcelona   Espanyol           2           0  2005-2006
4  SpanishLaLiga       CeltaVigo  Barcelona           0           1  2005-2006

In [4]:
fixtures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969 entries, 0 to 968
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Competion   969 non-null    object
 1   Home        969 non-null    object
 2   Away        969 non-null    object
 3   Home_score  969 non-null    int64
 4   Away_score  969 non-null    int64
 5   Season      969 non-null    object
dtypes: int64(2), object(4)
memory usage: 45.5+ KB

In [ ]:
fixtures.describe